body{
    font-family: Arial;
    background: #f4f4f4;
}

.container{
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.card{
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

button{
    padding: 10px 20px;
    background: brown;
    color: white;
    border: none;
    border-radius: 5px;
}